/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 
/*body-container*/
body{
  background-color: #FFE9DE;
}
.container{
  margin: 0px 100px;

}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 80px;
  }
}
/*nav*/
nav{
  position: absolute;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 17vh;
  font-family: var(--ff-secondary);
}
.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--ff-secondary);
  font-size: 30px;
}

.logo a {
  color: var(--clr-black);
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  
}
.nav-links a {
  color: var(--clr-black);
  text-decoration: none;
  letter-spacing: 3px;
  font-family: var(--ff-secondary);
  font-size: 18px;
  text-transform: uppercase;
}

form{
  display: flex;
  flex-direction: column;
}
form input, button{
  padding: 25px 150px;
  margin-top: 18px;
  border: white;
  font-size: 18px;
  outline: none;
}
button{
  background-color: #EED9C4;
  color: white;
  margin-top: 30px;
  font-family: var(--ff-secondary);
  letter-spacing: 2px;
  font-weight: bold;
}
.register-box{
  margin-bottom: 18vh;
  margin-top: 15vh;
  padding-top: 7vh;
  padding-bottom: 15vh;
  border-radius: var(--radius);
    box-shadow: var(--light-shadow);
   background-color: #FFE9DE;
}
.register-box h1{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-family: var(--ff-secondary);
  letter-spacing: 2px;
}
.grid{
  display: flex;
  justify-content: space-around;
}

img{
width: 40%;
float: right;
}

/*footer*/
.footer{
  background: #eed9c4;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}
.footer-icons{
  font-size: 30px;
  opacity: 0.8;
}
.footer-icons i{
  padding-left: 8px;
  padding-right: 8px;
}
.footer-text{
  font-size: 13px;
  padding: 25px 0px;
}
footer p{
 
}
.footer-text a{
  color: var(--clr-black);
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
      z-index: 10;
      right: 0px;
      height: 85vh;
      top: 16vh;
      background-color: #fcddd1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li {
      opacity: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }

.nav-active {
      transform: translateX(0%);
}
.img-container{
  display: block;
}
.div-img{
  width: 100%;
  height: 60vh;
}
.img-text{
  padding-left: 0px;
  margin: 0 auto;
}
.img-text h1{
  display: none;
}
.img-text h2{
  text-align: center;
}
.img-text p {
 text-align: center;
 margin: 0 auto;
}
.check-marks i{
  
}

}
@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}




